.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.vscode
build.zsh
Tests/url_serialization/files.json
Tests/history/TestDB.sqlite3
Tests/scratchpad
t.ipynb